/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------------------
 *  Nextflow config file for use with Singularity on CFC cluster
 * -------------------------------------------------------------
 * Defines basic usage limits and docker image id.
 * Imported under the default 'docker' Nextflow
 * profile in nextflow.config
 * NOTE: Not suitable for production use, assumes
 * compute limits of only 16GB memory and 1 CPU core.
 */

singularity {
	enabled = true
}


process {
	executor = 'pbs'
	clusterOptions = { "-A nodes=1:ppn=8:cfc ?: ''}" }
	container = '/home-link/iiipe01/Singularity/2017-10-10_qbic-containers-megSAP.simg'
	cpus = 8
	memory = 32.GB
	time = 24.h
	queue = 'cfc'

	//Environment modules and resource requirements
	$qbic_megsap_single_sample_analysis {
		module = "qbic/singularity/2.4"
	}
}